{% extends 'base.html.twig' %}

{% block title %}Saison index{% endblock %}

{% block body %}
    <h1>Saison index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for saison in saisons %}
            <tr>
                <td>{{ saison.id }}</td>
                <td>{{ saison.titre }}</td>
                <td>{{ saison.debut ? saison.debut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ saison.fin ? saison.fin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_saison_show', {'id': saison.id}) }}">show</a>
                    <a href="{{ path('app_saison_edit', {'id': saison.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_saison_new') }}">Create new</a>
{% endblock %}
