{% extends 'base.html.twig' %}

{% block title %}Seance index{% endblock %}

{% block body %}
    <h1>Seance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Adresse</th>
                <th></th> {#actions#}
            </tr>
        </thead>
        <tbody>
        {% for seance in seances %}
            <tr>
                <td>{{ seance.title }}</td>
                <td>{{ seance.description }}</td>
                <td>{{ seance.start|date('d-m-Y H:i')}} - {{ seance.end|date('H:i') }}</td>
                <td>{{ seance.numero }} {{ seance.rue }} {{ seance.codePostal }} {{ seance.ville }}</td>
                <td>
                    <a href="{{ path('app_seance_show', {'id': seance.id}) }}">show</a>
                    <a href="{{ path('app_seance_edit', {'id': seance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_seance_new') }}">Create new</a>
{% endblock %}
