{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription {{inscr.saison.titre}} </h1>

    {{ form_start(inscription) }}
        {{form_widget (inscription) }}

        <a href="{{ path('app_accueil') }}">Accueil</a>
        <button type="submit" class="btn">S'inscrire</button>
    {{ form_end(inscription) }}
{% endblock %}
