{% extends 'base.html.twig' %}

{% block title %}Participations {% endblock %}

{% block body %}

    <h1>Participations de {{user.prenom}} à la {{ saison.titre }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Participation</th>
                <th>Commentaire</th>
            {% if is_granted('ROLE_ENTRAINEUR') %}
                <th>Total Participants</th>
                    {# TODO <th>Entraineur</th> #}
                <th></th> {#actions#}
            {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for p in participations %}

            <tr>
                <td>{{ p.participation.seance.start|date("d / m / Y") }}</td>
                <td>{{ p.participation.seance.title }}</td>
                <td>{{ p.participation.seance.description }}</td>
                <td>{{ p.participation.seance.categorie.typeCategorie }}</td>
                {# <td>
                    {% for categ in p.participation.seance.categories %}
                        <div>{{categ.typeCategorie}}</div>
                    {% endfor %}
                </td> #}
                <td>
                {% if p.participation.typePresence == 'Présent'  %}
                    <div class="btnParticipation presentColor"><a class="nav-link beige-color font-titre" href="{{ path('app_participation_edit', {'id': p.participation.id}) }}">{{ p.participation.typePresence }}</a></div>
                {% endif %}
                {% if p.participation.typePresence == 'Absent' %}
                    <div class="btnParticipation absentColor"><a class="nav-link beige-color font-titre" href="{{ path('app_participation_edit', {'id': p.participation.id}) }}">{{ p.participation.typePresence }}</a></div>
                {% endif %}
                {% if p.participation.typePresence == 'Indécis'  %}
                    <div class="btnParticipation indecisColor"><a class="nav-link beige-color font-titre" href="{{ path('app_participation_edit', {'id': p.participation.id}) }}">{{ p.participation.typePresence }}</a></div>
                {% endif %}
                </td>
                <td>
                    <a  href="{{ path('app_participation_edit', {'id': p.participation.id}) }}"><div class="inputParticipation">{{ p.participation.commentaire }}</div></a>
                </td>

            {# POUR ENTRAINEUR #}
            {% if is_granted('ROLE_ENTRAINEUR') %}
                {% if p.min != p.max %}
                <td>{{p.min}} - {{p.max}}</td>
                {% else %}
                <td>{{p.max}}</td>
                {% endif %}
                
                <td>
                    <a href="{{ path('app_seance_show', {'id': p.participation.seance.id}) }}">show</a>
                    {# <a href="{{ path('app_participation_show', {'id': p.participation.id}) }}">show</a> #}
                    {# <div class="styleBtn btnParticipation"><a class="nav-link beige-color font-titre" href="{{ path('app_participation_edit', {'id': p.participation.id}) }}">Modifier</a></div> #}
                </td>
            {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

{% endblock %}
