{# Bouton de navigation #}
    <div>
        <ul class="btnAdmin mb-5">
            <li>
                <div class="btn btn-outline-danger"><a class="" href="{{ path ('app_saison_new') }}">New Saison</a></div>
            </li>
            <li>
                <div class="btn btn-outline-danger"><a class="" href="{{ path ('app_seance_new') }}">New Séance</a></div>
            </li>
        </ul>
    </div>

    {# Filtres Saison #}
    <div class="container mb-4">
        <ul>
            <li class="menuFiltre"><a href="{{ path ('app_admin') }}">Tous les inscrits</a></li>
        {% for saison in saisons %}
            <li class="menuFiltre"><a href="{{ path ('liste_inscriptions_saison', {id: saison.id}) }}">{{saison.titre}}</a></li>
        {% endfor %}
        </ul>
    </div>
