{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{# {% block filtre %}
    {{ include('admin/_baseAdmin.html.twig') }}
{% endblock %} #}

{% block body %}

{# Liste Users #}
<div class="marginTop5">

    {# Filtres et bouton Admin #}
    {{ include('admin/_baseAdmin.html.twig') }}
    
    <h3 class="ms-5">Liste de tous les membres</h3>
    
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th></th> {# Photo #}
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Genre</th>
                    <th>Date de Naissance</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Adresse</th>
                    <th>Accord Photo</th>
                    <th>Rôles</th>
                    <th>
                        {# actions edit / show #}
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                <td class="text-center"><img class="photoListing" src="{{ asset ('upload/photoUser/' ~ user.photo ) }}" alt="photo"></td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td class="text-center">{{ user.genre is same as(null) ? 'X' : user.genre ? 'F' : 'H' }}</td>
                <td>{{ user.dateNaissance|date("d/m/Y") }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.telephone }}</td>
                <td>{{ user.numero }} {{ user.rue }} {{ user.codePostal }} {{ user.ville }}</td>
                <td>
                    {% if user.accordPhoto %}
                        Ok
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    {% for role in user.roles %}
                        {{ role }}<br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
                </tr>
            {% endfor %} 
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
