{% extends 'base.html.twig' %}

{% block title %}Bienvenue{% endblock %}

{% block body %}
<div class="container colonne">
    <h2 class="">Bonjour {{app.user.prenom}} {{app.user.nom}}</h2>
    <div class="container">
        {# PHOTO #}
        {# {% if app.user.photo is same as (null) %}
            <img class="photoPlayer" src="{{ asset ('upload/photoUser/joueur.png') }}" alt="photo">
        {% else %}
            <img class="photoPlayer" src="{{ asset ('upload/photoUser/' ~ app.user.photo ) }}" alt="photo">
        {% endif %} #}
        <img class="photoPlayer" src="{{ asset ('upload/photoUser/' ~ app.user.photo ) }}" alt="photo">

        {# INFOS #}
        <div class="infoUser container colonne">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Email</th>
                        <td>{{ app.user.email }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ app.user.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Date de naissance</th>
                        <td>{{ app.user.dateNaissance|date("d / m / Y") }}</td>
                    </tr>
                    <tr>
                        <th>Adresse</th>
                        <td>{{ app.user.numero }} {{ app.user.rue }} {{ app.user.codePostal }} {{ app.user.ville }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {# Personne Contact #}
        <div class="infoPersContact container colonne">
            <table class="table">
                <caption>Personne de Contact</caption>
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ app.user.persContactNom }}</td>
                    </tr>
                    <tr>
                        <th>Téléphone</th>
                        <td>{{ app.user.persContactTel }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ app.user.persContactMail }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    {# ACCORD PHOTO #}
    <div>
        {% if app.user.accordPhoto == true %}
            <span>Oui, j'autorise le Kin-Ball K-ribou à utiliser des photos de moi prises lors d’entrainements ou de matchs dans le cadre de diverses publications.</span>
        {% else %}
            <span>Non, je n'autorise pas le Kin-Ball K-ribou à utiliser des photos de moi prises lors d’entrainements ou de matchs dans le cadre de diverses publications.</span>
        {% endif %}
    </div>

    {# EDITER #}
    <div class="styleBtn"><a class="nav-link beige-color font-titre" href="{{ path ('app_user_edit', {'id': app.user.id}) }}">Éditer</a></div>

    {# INSCRIPTION #}
    <div class="styleBtn"><a class="nav-link beige-color font-titre" href="{{ path ('app_inscription') }}">S'inscrire à la nouvelle Saison</a></div>

    {% if app.user.inscriptions|length > 0 %}
    <div class="infoInscription container colonne">
        <table class="table">
            <caption>Inscriptions</caption>
            <thead>
                <tr>
                    <th>Saison</th>
                    <th>Jour Entrainement</th>
                    <th>Catégorie Championnat</th>
                    <th>Paiement</th>
                    <th>Fiche Médical</th>
                    <th>Certificat Médical</th>
                    <th></th> {# Actions #}
                </tr>
            </thead>
            <tbody>
            {% for inscr in app.user.inscriptions %}
                <tr>
                    <td>{{ inscr.saison.titre }}</td>
                    <td>{{ inscr.jourEntrainement }}</td>
                    <td>{{ inscr.categorie.typeCategorie }}</td>
                    {% if inscr.paiement %}
                        <td>OK</td>
                    {% else %}
                        <td>en attente</td>
                    {% endif %}
                    {% if inscr.ficheMedicale is same as(null) %}
                        <td>en attente</td>
                    {% else %}
                        <td>OK</td>
                    {% endif %}
                    {% if inscr.certifMedical is same as(null) %}
                        <td>en attente</td>
                    {% else %}
                        <td>OK</td>
                    {% endif %}
                    <td>
                    {# PARTICIPATIONS #}
                        <div class="styleBtn"><a class="nav-link beige-color font-titre" href="{{ path ('app_participations_joueur', {'idJoueur': inscr.player.id, 'idSaison': inscr.saison.id} ) }}">Voir mes présences</a></div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    

    {% else %}
        <div>Tu n'es pas encore inscrit à une saison de Kin-Ball au K-ribou...</div>
    {% endif %}
        {# <pre>
            {{ dump(app.user.inscriptions) }}
        </pre> #}
</div>
{% endblock %}
