<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="images/logo-kribou.png">
        {# <link rel="stylesheet" href={{asset("assets/style.css")}}> #}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {# {{ encore_entry_link_tags('calendrier') }} #}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# {{ encore_entry_script_tags('calendrier') }} #}
        {% endblock %}
    </head>
    
<body>

<header>
    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path ('app_accueil') }}"><img class="nav-logo" src={{asset("images/logo-kribou.png")}} alt="Logo K-ribou" title="home"/>K-ribou</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path ('app_accueil') }}">Home</a>
                    </li>
                    {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path ('app_joueur') }}">Profil</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path ('app_admin') }}" tabindex="-1" >Admin</a>
                    </li>
                    {% endif %}
                </ul>

                <div class="d-flex">
                    {# Si un User est connecté #}
                    {% if app.user %}
                    <div class="nav-bonjour">
                        <span class="nav-bonjour me-2">Bonjour {{ app.user.prenom }}</span>
                        <a class="btn btn-outline-danger" href="{{ path('app_logout') }}">Logout</a>
                    </div>
                    
                    {# Si pas connecté, faire apparaitre boutons de connexion SAUF si route de registration #}
                    {% else %}
                        <a class="btn btn-light me-2" href="{{ path ('app_login') }}">Se Connecter</a>
                        {% if app.request.get('_route') != 'app_register' %}
                        <a class="btn btn-outline-light" href="{{ path ('app_register') }}">Inscription</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    {% endblock %}
</header>

{# FILTRES #}
    {% block filtre %}
    {% endblock %}
        
<main>
    {% block body %}{% endblock %}
</main>

    {# FOOTER #}
    {% block footer %}
        <hr class="featurette-divider">
    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
    {% endblock %}
</body>