{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<div class="text-center bodyLogin">

{{ form_start(registrationForm) }}
    <div class="formDiv row g-3">
        <h1 class="h3 mb-3 fw-normal">Modification</h1>

<h3>Coordonnées du Joueur</h3>
        <div class="col-md-6">
          {{ form_row(registrationForm.nom) }}
        </div>
        <div class="col-md-6">
          {{ form_row(registrationForm.prenom) }}
        </div>

        <div class="col-md-6">
          {{ form_row(registrationForm.telephone) }}
        </div>
        <div class="col-md-2">
          {{ form_row(registrationForm.genre) }}
        </div>
        <div class="col-md-4">
          {{ form_row(registrationForm.dateNaissance) }}
        </div>

        <div class="col-2">
          {{ form_row(registrationForm.numero) }}
        </div>
        <div class="col-5">
          {{ form_row(registrationForm.rue) }}
        </div>
        <div class="col-md-2">
          {{ form_row(registrationForm.codePostal) }}
        </div>
        <div class="col-md-3">
          {{ form_row(registrationForm.ville) }}
        </div>

        <div class="col-md-5">
            <img class="photoPlayer-pti" src="{{ asset ('upload/photoUser/' ~ app.user.photo ) }}" alt="photo">
          {{ form_row(registrationForm.photo, {label: ' '}) }}
        </div>
        <div class="col-md-7">
          <div class="form-check">
            {{ form_row(registrationForm.accordPhoto) }}
          </div>
        </div>

{# TODO Modif Role et Modif paiements selon Role SI ADMIN++ #}

<h3>Personne de Contact</h3>
        <div class="col-md-4">
          {{ form_row(registrationForm.persContactNom) }}
        </div>
        <div class="col-md-4">
          {{ form_row(registrationForm.persContactTel) }}
        </div>
        <div class="col-md-4">
          {{ form_row(registrationForm.persContactMail) }}
        </div>

        <div class="col-6">
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
        <div class="col-6">
        <a class="btn btn-outline-secondary" href="{{ path('app_joueur') }}">Retour au profil</a>
        </div>

        {# TOKEN Caché mais important pour validation #}
        {{ form_row(registrationForm._token) }}

{# DELETE si admin #}
  <div class="col-12">
    {% if is_granted('ROLE_ADMIN') %}
        {{ include('user/_delete_form.html.twig') }}
    {% endif %}
  </div>

  </div>
      {{ form_end(registrationForm) }}


</div>

{% endblock %}
