{% extends 'base.html.twig' %}

{% block title %}Liste Joueurs{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{inscr.player.nom}} {{inscr.player.prenom}}</h1>

{# Info Joueur #}
<div class="container">
        <div class="cartePlayer">
            {% if inscr.player.photo is same as (null) %}
                <img class="photoPlayer" src="{{ asset ('upload/photoUser/joueur.png') }}" alt="photo">
            {% else %}
                <img class="photoPlayer" src="{{ asset ('upload/photoUser/' ~ inscr.player.photo ) }}" alt="photo">
            {% endif %}

            <br> 
            {# ! Si Catégorie Null ??? #}
                <label for="categorie">Catégorie : </label>
                <span id="categorie">{{inscr.categorie.typeCategorie}}</span>
        </div>
    </div>
</div>
{% endblock %}
